{% if ansible_local.claimed_baremetal.type == "cimc_baremetal" %}
  {{ansible_local.claimed_baremetal.bmc_address}} {{ansible_local.claimed_baremetal.mac_address}} admin cisco123! "{\\"switch_ip\\":\\"{{nexus_ip}}\\"}" aa:bb:cc:dd:ee:ff {{ansible_local.claimed_baremetal.nexus_port}}
{% elif ansible_local.claimed_baremetal.type == "ucsm_baremetal" %}
  ironic-ci-fi {{ansible_local.claimed_baremetal.mac_address}} admin cisco123 org-root/ls-{{ansible_local.claimed_baremetal.service_profile}}
{% endif %}
