{{ansible_local.claimed_baremetal.bmc_address}} {{ansible_local.claimed_baremetal.mac_address}} admin cisco123! "{\\"switch_ip\\":\\"{{nexus_ip}}\\"}" aa:bb:cc:dd:ee:ff {{ansible_local.claimed_baremetal.nexus_port}}
