---
default_enabled_projects:
  - "openstack-infra/devstack-gate"
  - "openstack-dev/devstack"
  - "openstack/glance"
  - "openstack/keystone"
  - "openstack/neutron"
  - "openstack/nova"
  - "openstack/requirements"
  - "openstack/tempest"
  - "openstack/tempest-lib"

devstack_gate_env_override: {}

# yamllint disable rule:line-length
devstack_gate_env_base:
  DEVSTACK_LOCAL_CONFIG: "{{ devstack_local_conf }}"
  DEVSTACK_GATE_PROJECTS_OVERRIDE:
    "{{ default_enabled_projects | join(' ') }} {{ projects | join(' ') }}"
  OVERRIDE_ZUUL_BRANCH: "{{ override_zuul_branch }}"
  PYTHONUNBUFFERED: true
  BUILD_TIMEOUT: 10800000
  DEVSTACK_GATE_TEMPEST: 1
  DEVSTACK_GATE_TEMPEST_ALL_PLUGINS: 0
  DEVSTACK_GATE_NEUTRON: 1
  DEVSTACK_GATE_SETTINGS: "{{ workspace }}/custom_devstack_gate_hook"
  DEVSTACK_GATE_FEATURE_MATRIX: "{{ workspace }}/features.yaml"
  DEVSTACK_GATE_TOPOLOGY:
    "{% if(('subnodes' in groups) and (groups['subnodes']|length) > 0) %}multinode{% else %}aio{% endif %}"

zuulv3_env_overrides:
  WORKSPACE: "/home/ubuntu"
zuulv3_devstack_gate_env_base: "{{ zuul | zuul_legacy_vars }}"
zuulv3_devstack_gate_env: "{{ zuulv3_devstack_gate_env_base | combine(zuulv3_env_overrides) }}"

devstack_gate_env: "{{ devstack_gate_env_base | combine(zuulv3_devstack_gate_env) }}"

openstack_project_cherrypicks: {}

default_openstack_project_cherrypicks:
  all:
    devstack-gate:
      - "https://git.openstack.org/openstack-infra/devstack-gate refs/changes/26/530726/4"
  mitaka:
    devstack:
      - "https://git.openstack.org/openstack-dev/devstack refs/changes/94/561594/1"
      - "https://git.openstack.org/openstack-dev/devstack refs/changes/16/561416/3"
    requirements:
      - "{{workspace}}/patches/0001-Add-upper-constraint-for-setuptool-39-on-stable-newt.patch"
  newton:
    devstack:
      - "https://git.openstack.org/openstack-dev/devstack refs/changes/94/561594/1"
      - "https://git.openstack.org/openstack-dev/devstack refs/changes/16/561416/3"
    requirements:
      - "https://git.openstack.org/openstack/requirements refs/changes/69/555269/1"
# yamllint enable

run_devstack_gate_unstack: false

custom_pre_test_hook_script: ""
custom_post_test_hook_script: ""
