---
default_enabled_projects:
  - "openstack-infra/devstack-gate"
  - "openstack-dev/devstack"
  - "openstack/glance"
  - "openstack/keystone"
  - "openstack/neutron"
  - "openstack/nova"
  - "openstack/requirements"
  - "openstack/tempest"
  - "openstack/tempest-lib"

devstack_gate_env:
  DEVSTACK_LOCAL_CONFIG: "{{ devstack_local_conf }}"
  DEVSTACK_GATE_PROJECTS_OVERRIDE:
    "{{ default_enabled_projects | join(' ') }} {{ projects | join(' ') }}"
  OVERRIDE_ZUUL_BRANCH: "{{ override_zuul_branch }}"
  PYTHONUNBUFFERED: true
  BUILD_TIMEOUT: 10800000
  DEVSTACK_GATE_TEMPEST: 1
  DEVSTACK_GATE_NEUTRON: 1
  DEVSTACK_GATE_SETTINGS: "{{ workspace }}/custom_devstack_gate_hook"
  DEVSTACK_GATE_FEATURE_MATRIX: "{{ workspace }}/features.yaml"
  DEVSTACK_GATE_TOPOLOGY:
    "{% if (groups['subnodes']|length) > 0 %}multinode{% else %}aio{% endif %}"
  DEVSTACK_GATE_TEMPEST_REGEX: "{{ tempest_override | default(omit) }}"
