{% include "lconf_netcisco_common.j2" %}

{% include "lconf_common_vlan.j2" %}

{% include "lconf_asr_glbl.j2" %}


[[post-config|/etc/neutron/neutron.conf]]
{% include "lconf_common_postcfg_neutron_conf.j2" %}
{% include "lconf_asr_postcfg_neutron_conf.j2" %}


[[post-config|$Q_DHCP_CONF_FILE]]
[DEFAULT]
force_metadata = True
