{%- macro host_mapping(hosts, interface) -%}
{%- for host in hosts -%}
{{hostvars[host]["ansible_hostname"]}}:[{{interface}}]
{%- if not loop.last -%},{%- endif -%}
{%- endfor -%}
{%- endmacro -%}

[ml2_mech_cisco_nexus:{{ nexus_ip }}]
username={{ nexus_user }}
password={{ nexus_password }}
physnet=nexusnet
https_verify=False
host_ports_mapping=
    {{- host_mapping(groups['primary'], nexus_interfaces[0]) -}}
    {%- if groups['subnodes'] is defined -%}
    ,{{host_mapping(groups['subnodes'], nexus_interfaces[1])}}
    {%- endif %}
