{% include "lconf_netcisco_common.j2" %}

{% include "lconf_common_vlan.j2" %}

{% include "lconf_nexus_glbl.j2" %}


[[post-config|/$Q_PLUGIN_CONF_FILE]]
{% include "lconf_nexus_postcfg_plugin_conf.j2" %}
