enable_plugin networking-cisco https://git.openstack.org/openstack/networking-cisco
enable_service net-cisco
ML2_VLAN_RANGES=ucsmnet:{{ansible_local.claimed_vlans.min_vlan}}:{{ansible_local.claimed_vlans.max_vlan}}
OVS_VLAN_RANGES=ucsmnet:{{ansible_local.claimed_vlans.min_vlan}}:{{ansible_local.claimed_vlans.max_vlan}}
ENABLE_TENANT_VLANS=True
OVS_BRIDGE_MAPPINGS=public:br-ex,ucsmnet:br-ucsmnet
Q_ML2_PLUGIN_MECHANISM_DRIVERS=openvswitch,linuxbridge,cisco_ucsm
Q_ML2_TENANT_NETWORK_TYPE=vlan
TEMPEST_PLUGINS+=" /opt/stack/new/networking-cisco"

[[post-config|/$Q_PLUGIN_CONF_FILE]]
[ml2_cisco_ucsm]
ucsm_ip={{ ucsm_ip }}
ucsm_username={{ ucsm_user }}
ucsm_password={{ ucsm_password }}
ucsm_host_list={{ ansible_hostname }}:devstack-{{ ansible_hostname[-6:] }}
ucsm_https_verify=False

[[test-config|$TEMPEST_CONFIG]]
[ucsm]
service_profile=devstack-{{ ansible_hostname[-6:] }}
ucsm_ip={{ ucsm_ip }}
ucsm_username={{ ucsm_user }}
ucsm_password={{ ucsm_password }}
